.greetings{
    font-size: 2rem;
    font-weight: 500;
}


.greetings__lista{
    list-style-type: none;
} 


/* ANIMAÇÃO DE ENTRADA DAS PALAVRAS */
.greetings__item{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-20px);
}

.greetings #pt{
    animation-name: entrada-frase1;
    animation-delay: 0.5s;
}
.greetings #english {
    animation-name: entrada-frase2;
    animation-delay: 1s;
}
.greetings #italiano {
    animation-name: entrada-frase3;
    animation-delay: 1.5s;
}



@keyframes entrada-frase1 {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes entrada-frase2 {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes entrada-frase3 {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



.highlight{
    font-weight: 500;
}

.highlight--blue{
    color: var(--color-blue-usa);
    
}
.highlight--green{
    color: var(--color-fern-green);
}

.highlight--red{
    color: var(--color-flame-scarlet);
}

.highlight--white{
    color: var(--color-bright-white);
}

.highlight--yellow{
    color: var(--color-yellow);
}




@media screen and (min-width: 0) {
    #english{
        text-indent: 2.5rem;
    }
    
    #italiano{
        text-indent: 5rem;
    }
}
@media screen and (min-width: 1024px) {
    .greetings{
        font-size: 2.5rem;
    }
}