.greetings{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 4rem;
}

.greetings__lista{
    list-style-type: none;
} 

/* ANIMAÇÃO DE NETRADA DAS PALAVRAS */
.greetings__item{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-20px);
}

.greetings #pt{
    animation-name: entrada-frase1;
    animation-delay: 0.5s;
}
.greetings #english {
    animation-name: entrada-frase2;
    animation-delay: 1s;
}
.greetings #italiano {
    animation-name: entrada-frase3;
    animation-delay: 1.5s;
}

@keyframes entrada-frase1 {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes entrada-frase2 {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes entrada-frase3 {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#span-rosa{
    color: #ff79c6;
    font-weight: 500;
}

#span-verde{
    color: #50fa7b;
    
}

#span-azul{
    color:#8be9fd;
}
#span-roxo{
    color: #bd93f9;
}

#span-yellow{
    color: #F1FA8C;
}

#english{
    text-indent: 7rem;
}

#italiano{
    text-indent: 14rem;
}