body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffff;
}

h1{
    font-size: 2em;
    text-align: center;
    margin-bottom: 5%;
    font-weight: 500;
}
main p{
    width: 90%;
    font-size: 0.85em;
    text-indent: 1.1em;
    text-align: justify;
    margin: auto;
    line-height: 1.3;
    font-weight: 400;
}

form{
    width: 80%;
    max-width: 32rem;
    margin:auto;
    
}

fieldset{
    text-align: center;
    margin: auto;
    border: none;
    /* background-color: black; */
    /* color: white; */
    /* font-weight: bold; */
}

label, input, textarea{
    display: block;

    width: 100%;
    font: inherit;
    
    padding: 1%;

}

.campo-telefone{
    display: flex;
    flex-direction: row;
   
}

#prefixo-internacional{  
    width: 15%; 
    text-align: center;

}

#telefone{
    width: 85%;  
}

label{
    text-transform:uppercase;
    font-size: 0.9em;
    /* line-height: 1; */
    padding: 0;
    font-weight: 500;
    
}

input, textarea{
    text-align: justify;
}

button{
    padding: 4%;
    width: 45%;
    font: inherit;
    font-weight: 500;
    border-radius: 10%;
    background-color: #233057;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #FFFFF6;
    font-size: 1em;
    margin-top: 5%;
   
}
button:hover{
    cursor: pointer;
    background-color: #448596;
    border-radius: 4%;
    font-size: 1.6em;
}

.social-media{
    text-align: center;
    font-size: 2em;
    margin-top: 3%;
    
} 


@media (min-width: 768px){
    h1{
        font-size: 3em;
    }

    main p{
        font-size: 1.3em;
        margin-bottom: 5%;
        
    }

    form{
        max-width: 45rem;
    }
    label{
        font-size: 1.3em;
    }
    input{
        padding: 2%;
    }
    button{
        padding: 5%;
        font-size: 1.4em;
    }

}

@media(min-width:1024px){
    .social-media{
        font-size: 3em;
    }
}


@media(min-width:1440px){
    h1{
        font-size: 5em;
    }

    main p{
        font-size: 2.5em;
    }

    form{
        max-width: 80rem;
    }
    label{
        font-size: 2.5em;
    }
    input{
        padding: 3%;
        font-size: 2em;
    }
    button{
        padding: 4%;
        font-size: 2.5em;
    }
}