
.contact__paragraph {
  font-weight: 400;
  text-align: justify;
  margin: auto;
  width: 70%;
}
.contact__adress {
  display: flex;
  justify-content: center;
}

form {
  margin: auto;
  width: 95%;
}

fieldset {
  text-align: center;
  margin: auto;
  border: none;
}

label,
input,
textarea {
  display: block;
  padding: 1%;
  width: 100%;
}

.campo-telefone {
  display: flex;
  flex-direction: row;
}

.prefixo-internacional {
  text-align: center;
  width: 15%;
}

.telefone {
  width: 85%;
}

label {
  text-transform: uppercase;
  padding: 0;
  font-weight: 500;
}

input,
textarea {
  text-align: justify;
}

textarea {
  resize: none;
}

.contact__button {
  background-color: var(--color-blue);
  border-radius: 3%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  color:  var(--color-white);
  transition: all .7s;
 
}

.contact__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* MEDIAS QUERIES ************************************ */

@media screen and (min-width: 0) {
  .contact{
    margin-bottom: 3rem;
  }
  label {
    font-size: 1.6rem;
  }

  .contact__button {
    font-size: 1.6rem;
    padding: 1rem;
  }

}

@media screen and (min-width: 768px) {
  .contact{
    margin-bottom: 7rem;
  }
  input {
    padding: 2%;
  }

  .contact__button {
    font-size: 2.3rem;
    padding: 2rem;
  } 

}

@media (min-width: 1024px) {
  form {
    max-width: 80rem;
  }

  label {
    font-size: 2.1rem;
  }
  input,
  textarea {
    font-size: 2rem;
  }
  
  
}


