footer {
    background-color: #003333;
    color: var(--color-white);
    padding: 20px;
    text-align: center;

}

.footer__content {

    max-width: 1200px;
    margin: 0 auto;
}
.footer__content address .social__media--link, .references-list a {
    color: var(--color-white);
}

.references-list a:hover{
    border-bottom: 1px solid var(--color-dark-pink);
}
.references-list {
    list-style-type: none;
    text-align: justify;
}

.credits h4{
    font-weight: 400;
    text-align: justify;
}

.credits:last-child p{
    margin-top: 2rem;
    font-weight: 500;
}

@media screen and (min-width:0) {
    .credits {
        font-size: 1.4rem;
        padding: 1rem;
    }

    .credits h4 {
        margin: 1.4rem auto;
    }

    .credits:last-child p{
        font-size: 1.7rem;
    }
}

@media screen and (min-width:760px) {
    .credits {
        font-size: 1.5rem;
        padding: 1.2rem;
    }

    .credits h4 {
        margin-top: 1.6rem;
    }

    .credits:last-child p{
        font-size: 2rem;
    }
}





/* 
.credits {
  font-size: 14px;
}

.credits h4 {
  margin-top: 20px;
  color: var(--color-soft-blue);
}



.references-list li {
  margin: 5px 0;
}

.references-list a {
  color: var(--color-soft-blue);
  text-decoration: none;
}

.references-list a:hover {
  color: var(--color-dark-pink);
}
*/