header{

    width: 100%;
    height: 100%;
   
    padding:3% 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7%;

}



.hello-world {
    /* display: inline; */
    font-size: 0.80em;
    /* max-width: 50%; */
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hello-world ul{
    list-style-type: none;
}

#english{
    margin-left: 3.5% ;
}

#italiano{
    margin-left: 7%;
}




 #nav{
    display: none;

}

.hamburguer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5%;
    
}


#burguer{
    font-size: 2.5em;    
}




/*ul{
    position: relative;
    top:-18.5vw;

    left: 55.5vw;
    max-width: 40%;
    text-align: center;
    max-height: 10vw;
}
 */



nav ul li{
    list-style-type: none;
    margin-bottom: 3%;
    font-size: 0.95em;
    text-align: end;
    /* max-width: 30%; */
    
}

nav ul li a{
    text-decoration: none;
    color: black;
}

li a:visited{
    color:black;

}

