.conteudo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.minha-foto{
    display: none;
}


#meu-nome{
    font-family: 'Hurricane', cursive;
    text-align: center;
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 5%;
    box-shadow: none;
   
    
}

#work{
    font-size: 1.3em;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5%;
   
}

.minha-foto-2{
    width: 80%;
    margin-bottom: 5%;
}
.minha-foto-2 img{
    width: 50%;
    border-radius: 25%;
    text-align: center;
    margin-left: 35%;
}


/* .github-linkedin{
    text-align: center;     
    font-size: 2em;
    margin-bottom: 5%;
} */



.curriculo{
    width: 50%;

    margin-left: 25%;
    text-align: center;
    padding: 4%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3% 15%;
   

    background-color: #233057;
    font-weight: 500;

    cursor: pointer;

}

.curriculo a{
    color: #FFFFF6;
    text-decoration: none;

}

.curriculo a:visited{
    color: #FFFFF6;
    
}

.curriculo:hover{
    transform: scale(1.1);
}

@media(min-width:768px){
    .conteudo{
        flex-direction: row;
    }

    .minha-foto{
        display: flex;
        flex: 40%;
        padding: 10px;
        
    }

    .minha-foto img{
        width: 100%;
        border-radius: 25%;
        height: 100%;
        
    }

    .minha-foto-2{
        display: none;
    }

    .container{
        flex: 60%;
        padding: 10px;
       
    }

    #meu-nome{
        margin-top: 10%;
        font-size: 5em;
    }

    #work{
        font-size: 2em;
        margin-bottom: 30%;
    }

    .curriculo{
        width: 60%;
        font-size: 2em;
        /* padding: 20%; */
        margin-left: 20%;
        
    }
}

@media(min-width:1024px){

    .minha-foto{
        margin-bottom: 2%;
    }
    #meu-nome{
        font-size: 9em;
       
    }

    #work{
        font-size: 2.85em;
    }

    .curriculo{
        padding: 7%;
        font-size: 3em;
        /* padding: 20%; */
        margin-left: 20%;
        margin-bottom: 2%;
        
    }
   
   
}