/* CSS PROJETOS */

.projects__carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.projects__carousel--inner {
  display: flex;
  transition: transform 0.5s ease;
}

.projects__carousel--item{
  min-width: fit-content;
  padding: 2rem;
  text-align: center;
  /* background-color: var(--cor-azul); */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  margin: 1.5rem;
  border-radius: 0.8rem;
  /* color: var(--cor-branca); */
  /* box-shadow: 1px 1px 5px 2px black; */
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; 
  font-size: 3rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 700;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/* Estilo de cada projeto */
.project {
  width: 90%;
  margin: auto;
  margin-bottom: 8%;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* tamanho que alocará o codepen */
.code-pen {
  width: 85%;
  max-width: 30rem;
  margin-bottom: 5%;
}

/* EXPLICAÇÃO PROJETO */
.project__paragraph {
  width: 85%;
  text-align: justify;
  font-size: 1.2rem;
  /* margin: 1em 0 1em 3em;  */
  text-indent: 1rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 5%;
  /* color: #003B4A; */
}

/* ICONES PAGES E REPOSITÓRIO */
.icones {
  font-size: 1rem;
  text-shadow: 2px 2px 5px black;
}

.link-github {
  display: flex;
  flex-direction: row;
}

.project__paragraph a {
  margin-left: 10%;
  cursor: pointer;
  text-decoration: none;
}

.project__paragraph a img {
  width: 30%;
  margin-bottom: 2%;
}

@media (min-width: 1024px) {


  .tooltip .tooltiptext {
    visibility: hidden;
    width: 15%;
    background-color: #233057;
    color: #fffff6;
    font-size: 1rem;
    text-align: center;
    border-radius: 6px;
    padding: 1% 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

/* **************MEDIAS QUERIES *************************************************************** */
