/* CSS PROJETOS */
.projects {
  height: 100vh;
}

/* SLIDES ******************************************/
.projects__carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.projects__carousel--inner {
  display: flex;
  transition: transform 0.5s ease;
}

.projects__carousel--item {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  border-radius: 0.8rem;
}

.code-pen {
  width: 50%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 3rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 700;
}

/* ******************    MODAL   ********************* */
.project__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: var(--color-blue);
  border-radius: 3px;
  text-transform: uppercase;
  color: var(--color-dark-pink);
  font-weight: 500;
}

.project__wrapper:hover a {
  background-color: var(--color-dark-pink);
  color: var(--color-blue);
}

.project__modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.project__modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 50%;
  /* max-width: 90%; */
  background: var(--color-white);
  padding: 5rem;
  font-size: 1.6rem;
  text-align: justify;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
  font-size: 4rem;
}

/* ICONES PAGES E REPOSITÓRIO */
.icones {
  font-size: 1rem;
  text-shadow: 2px 2px 5px black;
}

.link-github {
  display: flex;
  flex-direction: row;
}



.project__paragraph--link img {
  width: 35%;
}

/* **************MEDIAS QUERIES *************************************************************** */
@media screen and (min-width: 0px) {
  .carousel-control.prev {
    left: 10px;
  }

  .carousel-control.next {
    right: 10px;
  }

  .code-pen {
    height: 250px;
    width: 85%;
    
  }
}

@media screen and (min-width: 1024px) {
  .carousel-control.prev {
    left: 50px;
  }
  .carousel-control.next {
    right: 50px;
  }

  .code-pen {
    height: 500px;
    width: 75%;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 15%;
    background-color: #233057;
    color: #fffff6;
    font-size: 1rem;
    text-align: center;
    border-radius: 6px;
    padding: 1% 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}
