/* Vai zerar todo padrão de página do css */

*{
    margin:0;

    /* Uma vez que a propriedade box-sizing é muito nova, é recomendado utilizar os "vendor prefixes" -webkit- e -moz- por enquanto */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    
    padding: 0;
   font-family: 'Montserrat', sans-serif;
   

    


}

html{
    /* background-color: #C96567; */
    /* background-color: #65ccb8; */
    
    /* background-color: C; */
    background-image: linear-gradient(to bottom right,#c96567, #0728319f  );

}
