/* Vai zerar todo padrão de página do css */

*{
    margin:0;

    /* Uma vez que a propriedade box-sizing é muito nova, é recomendado utilizar os "vendor prefixes" -webkit- e -moz- por enquanto */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    
    padding: 0;
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
    /* background-color: rgba(117, 182, 131, 0.425);

    box-shadow: none; */

    


}

html{
    background-color: rgba(64, 224, 208, 0.11);
}
