main{
    padding: 0 6%;
}

.thanks__title, .thanks__subtitle{
    font-weight: 500;
    margin:auto;
    text-align: center;
}
.signature{
    color: black;
    font-family: 'Hurricane', cursive;
    font-weight: bold;
    margin: auto;
    text-align: end;
}

.center{
    text-align: center;
}

@media screen and (min-width:0px){
    main{
        margin-top: 3rem;
    }      

    .thanks__title{
        font-size: 2rem;
    }

    .thanks__subtitle{
        font-size: 1.3rem;
    }

    .signature{
        font-size: 5rem;
    }
}
@media screen and (min-width:728px){
    main{
        margin-top: 7rem;
    }  
    
    .thanks__title{
        font-size: 3rem;
    }

    .thanks__subtitle{
        font-size: 2.3rem;
        margin-bottom: 3.3rem;
    }

    .signature{
        font-size: 7rem;
    }
}