main{
    width: 95%;
}

#obrigada{
    width: 90%;
    font-size: 2em;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    /* text-indent: 1.1em; */
    font-weight: 500;
    
}

p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5%;

}

.contato{
    text-align: center;
    
   
}

.contato a{
    font-size: 3em;
    text-decoration: none;
    color: inherit;
    margin-bottom: 5%;
}




#me{
    font-family: 'Hurricane', cursive;
    text-align: end;
    font-size: 7em;
    font-weight: bold;
    color: black;
    margin: auto;
}

@media(max-width:768px){
    #obrigada{
        font-size: 1.5em;
        text-align: justify;
    }

    p{
        font-size: 1.4em;
    }

    contato a{
        font-size: 2em;
    }

    #me{
        font-size: 3.5em;
    }
}